categories {
  .categories{
    font-size: 2rem;
    .list-group-item {
      border-radius: 0px;
      padding: 15px;
      &:focus {
        background-color: #EEE;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.843137);
      }
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover  {
      background-color: #009688;
      outline: none;
      color: #555;
    }
  }
}
